{% extends 'menu.html' %}
{% load static tailwind_tags %}


{% block head %}
  <title>New Event</title>
  <link rel="icon" href="{% static 'logo.svg' %}">
{% endblock %}


{% block main %}

<body class="bg-gray-100">

    <div class="container mx-auto px-4 py-8  flex items-center justify-center">
        <div class="card bg-white items-center shadow-lg w-1/2 rounded-lg overflow-hidden p-2">
            <form method="POST" class="space-y-4">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="mt-3 w-full px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save Event</button>
            </form>
            {% if status %}
                {% if status == "fail" %}
                  <div class="bg-red-500 text-white p-4 mb-2 rounded-md mt-4">
                    <h3 class="text-2xl font-bold">Event creation failed</h3>
                    <p>{{message}}</p>
                  </div>
                {% endif %} 
            {% endif %}
        </div>
    </div>
</body>

{% endblock %} 
