{% load static tailwind_tags %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% block head %}
    
    {% endblock %}
</head>
<body class="bg-gray-100 font-sans">
    <header class="w-full h-16 bg-gray-50 dark:bg-gray-900 text-white px-2 drop-shadow-lg sticky top-0">
        <div class="container px-4 md:px-0 h-full mx-auto flex justify-between items-center">
            <a href="{% url "index" %}" class="flex items-center">
                <img class="w-8 h-8 mr-2" src="{% static 'logo.svg' %}" alt="logo">
                <p>
                    eEvent
                </p>
            </a>
            <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50  md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">
                <li class="md:hidden z-90 fixed top-4 right-6">
                    <a href="javascript:void (0)" class="text-right text-white text-4xl" onclick="toggleMenu()">× </a>
                </li>
                <li><a class="text-white opacity-70 hover:opacity-100 duration-300" href="{% url "index" %}">Home</a></li>
                {% if not user.is_authenticated %}
                    <li><a class="text-white opacity-70 hover:opacity-100 duration-300" href="{% url "auth_login" %}">Login/Signup</a></li>
                {% else %}
                    <li><a class="text-white opacity-70 hover:opacity-100 duration-300" href="{% url "auth_logout" %}">Logout</a></li>
                {% endif %}
                {% if perms.event.add_event %}
                    <li><a class="text-white opacity-70 hover:opacity-100 duration-300" href="{% url "organizer_add_event" %}">Create Event</a></li>
                {% endif %}
                {% if perms.event.add_discount %}                
                    <li><a class="text-white opacity-70 hover:opacity-100 duration-300" href="{% url "organizer_add_discount" %}">Create Discount</a></li>
                {% endif %}
                {% for group in request.user.groups.all  %}
                    {% if group.name == "AUTH_ORGANIZER" %}
                        <li><a class="text-white opacity-70 hover:opacity-100 duration-300" href="/events/organizer/">Your Events</a></li>
                    {% endif %}
                    {% if group.name == "AUTH_ATTENDER" %}
                        <li><a class="text-white opacity-70 hover:opacity-100 duration-300" href="/events/attender/">Your Events</a></li>
                    {% endif %}  
                {% endfor %}
            </ul>
            <div class="flex items-center md:hidden">
                <button class="text-white text-4xl font-bold opacity-70 hover:opacity-100 duration-300" onclick="toggleMenu()"> ☰ </button>
            </div>
        </div>
    </header>
    <main>
        {% block main %}

        {% endblock %}
    </main>
    <script>
        var menu = document.getElementById('menu');
        function toggleMenu() {
            menu.classList.toggle('hidden');
            menu.classList.toggle('w-full');
            menu.classList.toggle('h-screen');
        }
    </script>
</body>
</html>
