{% extends 'menu.html' %}
{% load static tailwind_tags %}


{% block head %}
  <title>Email Confirmation</title>
  <link rel="icon" href="{% static 'logo.svg' %}">
{% endblock %}


{% block main %}


<div class="p-4">
    {% if status_confirm %}
    {% if status_confirm == "success" %}
        <a href="{% url "auth_login" %}" class=" text-white bg-green-600 hover:bg-green-700 focus:ring-4
        focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5
        py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 mb-2">Login</a>
    {% endif %}
    {% endif %}
    {% if status %}
        {% if status == "success" %}
            <div class="bg-green-500 text-white p-4 mb-2 rounded-md mt-4">
                <h3 class="text-2xl font-bold">Success</h3>
                <p>{{message}}</p>
            </div>
        {% endif %} 
        {% if status == "fail" %}
            <div class="bg-red-500 text-white p-4 mb-2 rounded-md mt-4">
                <h3 class="text-2xl font-bold">Failure</h3>
                <p>{{message}}</p>
            </div>
        {% endif %} 
    {% endif %}
</div>

{% endblock %} 
